<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>日報管理システム</title>
    <link rel="stylesheet" th:href="@{/css/employee/register.css}">
</head>
<body>
    <h1>日報管理システム</h1>
    <h2>User登録</h2>
    <form method="post" th:action="@{/employee/register}" th:object="${employee}">
        <label for="id">社員番号</label>
        <input type="text" th:field="*{authentication.code}">
        <br>
        <label for="name">氏名</label>
        <input type="text" th:field="*{name}">
        <br>
        <label for="authority">権限</label>
        <select th:field="*{authentication.role}">
            <option value="" th:text="選択してください">
            <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}" th:value="${item}" th:text="${item}">
        </select>
        <br>
        <label for="password">パスワード</label>
        <input type="text" th:field="*{authentication.password}">
        <br>
        <br>
        <input type="submit" value="登録実行">
        <a th:href="@{/employee/list}">登録せずに一覧に戻る</a>
    </form>
</body>
</html>